* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
#header {
  background: linear-gradient(90deg, #000000, #434343);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#headerdiv1 {
  display: flex;
}

#heading1 {
  color: white;
  position: relative;
  left: 30px;
  top: 40px;
}

#header-anchor {
  text-decoration: none;
}

#a {
  text-decoration: none;
  color: aliceblue;
}

#main-container {
  background-image: url(./bg/aboutimg.avif);
  height: 85vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#h1-div {
  margin-bottom: 30px;
  margin-left: 300px;
  background: linear-gradient(to bottom, #77a1d3, #79cbca, #e684ae);
  background-clip: text;
  color: transparent;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  margin-right: 41rem;
  background: linear-gradient(to top, #0099f7, #f11712);
  background-clip: text;
  color: transparent;
  line-height: 25px;
}

.content {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}
